In [1]:
import pandas as pd    
import numpy as np
import nltk
import string
from sklearn import model_selection 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import classification_report , accuracy_score , confusion_matrix
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:

import pandas as pd

data_source = 'ProjectDataMining0.csv'
df = pd.read_csv(data_source, delimiter=";")
df

     Apotek     Jan    Feb    Mar  GrandTotal
0         1       0      0  19000       19000
1         2   15000      0      0       15000
2         3  114000      0      0      114000
3         4       0      0  68000       68000
4         5       0  19000      0       19000
..      ...     ...    ...    ...         ...
175     176       0      0  26000       26000
176     177       0      0  38000       38000
177     178       0  26000      0       26000
178     179       0      0  26000       26000
179     180       0      0  50000       50000

[180 rows x 5 columns]

In [3]:

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

# Fitur
X = df[['Jan', 'Feb', 'Mar']]
# Target 
y = df['GrandTotal']

# Pembagian data pengetesan dan pengujian
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

score = model.score(X_test, y_test)
print(f"\nModel Score: {score}")

# Prediksi penghasilan bulan April
average_features = {
    'Jan': [df['Jan'].mean()],
    'Feb': [df['Feb'].mean()],
    'Mar': [df['Mar'].mean()]
}
average_df = pd.DataFrame(average_features)

april_prediction = model.predict(average_df)
print(f"\nPrediksi Penghasilan Bulan April: {april_prediction[0]}")

Model Score: 1.0

Prediksi Penghasilan Bulan April: 266783.3333333333

In [4]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

# MAE, RSE, RMSE.
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

print(f"Mean Absolute Error (MAE): {mae}")
print(f"Mean Squared Error (MSE): {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")

Mean Absolute Error (MAE): 1.5516990161914793e-10
Mean Squared Error (MSE): 3.3572228067948034e-20
Root Mean Squared Error (RMSE): 1.8322725798294323e-10